body {
  width: 800px;
}

.droppoint {
  height: 100px;
  background-color: lightblue;
  border: 1px solid blueviolet;
}

.droppoint:first-child {
  border-left: 2px solid blueviolet;
}

.droppoint:last-child {
  border-right: 2px solid blueviolet;
}

.split {
  height: 100px;
  border: 1px solid blueviolet;
  text-align: center;
  vertical-align: middle;
}

.playing {
  background-color: beige;
}

.split.dragging {
  opacity: 0.75;
}

.dragging .droppoint:hover {
  border: 10px solid red;
}

.hint {
  float: left;
  display: none;
}

#announcement {
  margin-top: 30px;
  font-size: 60px;
  font-family: monospace;
  color: brown;
}

.wav-tile {
  border-style: solid;
  border-width: 0px;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}

img {
  width: 100%;
}

.hints {
  margin-top: 40px;
}

#splits {
  background-color: antiquewhite;
  min-height: 100px;
}
