.droppoint {
  background-color: lightblue;
  border: 1px solid blueviolet;
}

.droppoint:first-child {
  border-left: 2px solid blueviolet;
}

.droppoint:last-child {
  border-right: 2px solid blueviolet;
}

.split {
  border: 1px solid blueviolet;
  text-align: center;
  vertical-align: middle;
}

.playing {
  background-color: beige;
}

.split.dragging {
  opacity: 0.75;
}

.dragging .droppoint:hover {
  border: 2px solid red;
}

.hint {
  float: left;
  display: none;
}

.wav-tile {
  border-style: solid;
  border-width: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw 12vw;
  margin-top: 2vw;
}

img {
  width: 100%;
}

.hints {
  padding-top: 8vh;
}

#splits {
  background-color: antiquewhite;
  min-height: 10vh;
}

#playlist {
  min-height: 10vh;
}

a.button3 {
  display: inline-block;
  padding: 1vw 2vw;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  max-width: 20vw;
}

a.button3.lg {
  max-width: 40vw;
}

a.button3:hover {
  background-color: #4095c6;
}

a.button2 {
  text-decoration: none;
  font-size: 6vw;
}

a.button1 {
  text-decoration: none;
  font-size: 4vw;
}

@media all and (max-width: 30em) {
  a.button3 {
    display: block;
    margin: 0.2em auto;
  }
}

select  {
  outline: 0;
  overflow: hidden;
  max-height: 10vw;
  min-height: 3vw;
  background: #2c343c;
  color: white;
  border: #2c343c;
  padding: 5px 3px 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 5px;
}

select option {
  border: 1px solid #000; background: #010;
}

#jigsawimg {
  width: auto;
  max-height: 20vh;
  display: block;
  float: right
}
